* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 500;
}

:root {
	font-size: 18px;
	--clr-background: hsl(0, 0%, 100%);
	--clr-gradient-left: hsl(249, 99%, 64%);
	--clr-gradient-right: hsl(278, 94%, 30%);
	--clr-error: hsl(0, 100%, 75%);
	--clr-light-gray-violet: hsl(270, 3%, 87%);
	--clr-dark-gray-violet: hsl(279, 6%, 55%);
	--clr-very-dark-violet: hsl(278, 68%, 11%);
	overflow-x: hidden;
}

.container {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
}

.container-sidebar {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 240px;

	background-image: url("images/bg-main-mobile.png");
	background-size: 100% 100%;
}

/* "VIRTUAL" CARD LAYOUT */

.container-card {
	position: relative;
	margin: 0 auto;
}

.card {
	position: absolute;
	width: clamp(240px, 80vw, 285px);
	aspect-ratio: 447 / 245;
	padding: 1em;
	background-size: contain;
	background-repeat: no-repeat;
	color: white;
	box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

.card-front {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1fr 1fr;
	top: 7px;
	right: -112px;
	z-index: 2;
	background-image: url(images/bg-card-front.png);
}

.card-back {
	left: -115px;
	top: -88px;
	z-index: 1;
	background-image: url(images/bg-card-back.png);
}

.card-front__logo {
	width: 42%;
}

.card__small-text {
	font-size: 0.5rem;
	letter-spacing: 0.15em;
}

.card-back__cvc {
	position: absolute;
	top: 45.5%;
	right: 13%;
}

.card-front__card-number {
	grid-column: span 2;
	text-align: justify;
	margin-top: 1.5em;
	margin-bottom: -1em;
	letter-spacing: 0.1em;
}

.card-front__card-number::after {
	content: "";
	width: 100%;
	height: 1em;
	display: inline-block;
}

.card-front__name {
	align-self: flex-end;
	text-transform: uppercase;
}

.card-front__exp {
	align-self: flex-end;
	justify-self: end;
}

/* FORM LAYOUT */

.container-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--clr-background);
	margin-top: clamp(1rem, 8vh, 6rem);
}

.payment-form {
	position: relative;
	display: flex;
	flex-direction: column;
	width: min(87%, 500px);
	
	display: none;
	/* !!REMOVE BEFORE RELEASE!! */
}

.payment-form__field-container,
.payment-form__third-row {
	margin-top: 1.1em;
}

.payment-form__label {
	display: block;
	margin-bottom: 0.7em;
	color: var(--clr-very-dark-violet);
	font-size: 0.65rem;
	letter-spacing: 0.12em;
}

.payment-form__field {
	width: 100%;
	padding: 0.6em 0.85em;
	border-radius: 8px;

	border: 1px solid var(--clr-light-gray-violet);
	outline: none;

	font-size: 0.95rem;
	letter-spacing: 0.027em;

	cursor: pointer;
}

.payment-form__field::placeholder {
	color: var(--clr-dark-gray-violet);
}

.payment-form__third-row {
	display: grid;
	grid-template-columns: 1fr 1fr 50%;
	column-gap: 0.6em;
	width: 100%;
}

.payment-form__exp {
	display: grid;
	grid-column: span 2;
	column-gap: 0.45em;
	border: none;
}

#exp__month {
	grid-column: 1;
}

#exp__year {
	grid-column: 2;
}

.payment-form__exp>.error-text {
	grid-column: span 2;
}

.payment-form__cvc {
	grid-column: 3;
}

.payment-form__button {
	font-size: 1rem;
	color: var(--clr-light-gray-violet);
	background-color: var(--clr-very-dark-violet);
	width: 100%;
	margin-top: 1.75em;
	padding: 0.8em 0;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.payment-form__field:focus {
	border: double 1px transparent;
	border-radius: 8px;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, var(--clr-gradient-left), var(--clr-gradient-right));
	background-origin: border-box;
	background-clip: padding-box, border-box;

	cursor: text;
}

.error-field {
	border-color: red;
}

.error-text {
	margin-top: 0.7em;
	color: var(--clr-error);
	font-size: 0.55rem;
	letter-spacing: 0.05em;
}

/* THANK YOU SECTION */

.container-thankyou {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;

	display: ;
	/* !!REMOVE BEFORE RELEASE!! */
}

.thankyou__check {
	width: 25%;
}

.thankyou__heading {
	margin-top: 1.1em;
	font-size: 1.63rem;
	letter-spacing: 0.1em;
	color: var(--clr-very-dark-violet);
}

.thankyou__subheading {
	margin-top: 0.8em;
	font-size: 1rem;
	letter-spacing: 0.035em;
	color: var(--clr-dark-gray-violet);
}

.thankyou__button {
	margin-top: 2.45em;
}

@media screen and ((min-width: 1400px) and (min-height: 575px)) {
	/* Desktop layout */

	.container {
		grid-template-rows: 1fr;
		grid-template-columns: auto auto;
		position: relative;
	}

	.container-sidebar {
		height: 100vh;
		justify-content: end;
		width: clamp(10rem, 28.3vw, 28rem);
		background-image: url(images/bg-main-desktop.png)
	}

	.container-card {
		width: 447px;
		aspect-ratio: 447 / 245;
		right: -25%;
		margin: 0;
		display: grid;
		grid-template-rows: 1fr 1fr;
	}

	.card {
		width: 100%;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		font-size: 1.65rem;
	}

	.card-back {
		grid-row: 2;
		position: relative;
		top: 7%;
		margin-left: 20%;
	}

	.card-front {
		grid-row: 1;
		position: relative;
		top: -7%;
	}

	.card__small-text {
		font-size: 0.75rem;
	}

	.container-main {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	.payment-form {
		position: static;
		margin-left: 5%
	}

	.payment-form__field {
		font-size: 1.1rem;
	}
}

@media screen and (max-height: 575px) {
	.container-main {
		justify-content: flex-start;
		align-items: center;
		margin: 0;
	}
}

@media screen and (((max-height: 690px) and (max-width: 1400px)) or (max-height: 575px)) {
	.container-sidebar {
		display: none;
	}

	.container {
		grid-template-rows: 1fr;
	}

	.container-main {
		margin: 0;
		justify-content: center;
	}
}


@media screen and ((max-height: 390px) or (max-width: 330px)) {
	:root {
		font-size: 14px;
	}
}